.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 600px;
  background-color: #1d1d1d;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

#resultat {
  width: 100%;
  margin-bottom: 30px;
  background-color: #212121;
  border: none;
  border-radius: 5px;
  font-size: 48px;
  text-align: right;
  padding: 10px 20px;
  color: #00ff00;
}

.bouton-groupe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 50px;
  height: 50px;
  background-color: #212121;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #00ff00;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

button.operateur {
  background-color: #00ff00;
  color: #212121;
}

button:hover {
  background-color: #00ff00;
  color: #212121;
  transform: translateY(-5px);
}

.bouton-groupe .ligne {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  #resultat {
    font-size: 36px;
    padding: 5px 10px;
  }

  .bouton-groupe {
    flex-wrap: nowrap;
  }

  button {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
  }
}